<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<form id="pagar-cartao" >
  <h2>Pagar com cartão</h2><br>
  <label for="nome">Nome cartão:</label>
  <input type="text" id="nome" name="nome"><br><br>

  <label for="vencimento">Data de Vencimento:</label>
  <input type="text" id="vencimento" name="vencimento"><br><br>

  <label for="numero">Número do cartão:</label>
  <input type="text" id="numero" name="numero"><br><br>

  <label for="cvv">CVV:</label>
  <input type="text" id="cvv" name="cvv"><br><br>

  <label for="preco">Preço:</label>
  <input type="text" id="preco" name="preco"><br><br>

  <input type="submit" value="Submit">
</form>

<script>
  $(document).ready(function(){
    $( "#pagar-cartao" ).submit(function( event ) {
      event.preventDefault();

      var $form = $( this );
      var nome = $form.find( "input[name='nome']" ).val();
      var vencimento = $form.find( "input[name='vencimento']" ).val();
      var preco = $form.find( "input[name='preco']" ).val();
      var cvv = $form.find( "input[name='cvv']" ).val();
      var numero = $form.find( "input[name='numero']" ).val();

      $.post( "/pagar-cartao", { nome, numero, cvv, preco, vencimento }, () => {} ,'json');
    });
  });
</script>